bug: cannot match query string after #

### Current Behavior

I set "Advanced Routing Matching Conditions", for example, HTTP Request Header. 

<img width="817" alt="image" src="https://github.com/apache/apisix/assets/56502239/f76c431b-1c40-4f37-bd43-d780256cae6e">

If I access "http://example.com/a?envtag=tag-base". It works.

But If I access "http://example.com/#/a?envtag=tag-base". It doesn't works.


### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

1. Set "Advanced Routing Matching Conditions"
<img width="1371" alt="image" src="https://github.com/apache/apisix/assets/56502239/a1b4da1d-3c66-406c-ae04-a480553420ec">

2. Access website accordingly. URL without "#" can match rule and redirect to real website. URL with "#" cannot match rule.

### Environment

- APISIX version (run `apisix version`): 2.0.0
- Operating system (run `uname -a`): Linux tapisix-gw-68b44c467c-lgrrv 4.14.105-1-tlinux3-0023.1 #1 SMP Tue Mar 1 15:50:11 CST 2022 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:
- Plugin runner version, for issues related to plugin runners:
- LuaRocks version, for installation issues (run `luarocks --version`):


looks like a bug to me.
### This should work but doesn't:
- create route with uri `/#/hello`
```shell
curl "http://127.0.0.1:9180/apisix/admin/routes/1" -X PUT \
  -H "X-API-KEY: ${ADMIN_API_KEY}" \
  -d '{
        "uri": "/#/hello",
        "vars": [ ["arg_k", "==", "v"] ],
        "upstream": {
            "nodes": {
                "127.0.0.1:1980": 1
            },
            "type": "roundrobin"
        }
    }'
```

- send a request:
```shell
curl -i "http://127.0.0.1:9080/#/hello?k=v"
```
- fails with the following error:
```text
HTTP/1.1 404 Not Found
Date: Mon, 18 Dec 2023 13:21:17 GMT
Content-Type: text/plain; charset=utf-8
Transfer-Encoding: chunked
Connection: keep-alive
Server: APISIX/3.6.0

{"error_msg":"404 Route Not Found"}
```

<hr>

### But `var` matching works when `#` is absent

- create route without `#` in the uri:
```shell
curl "http://127.0.0.1:9180/apisix/admin/routes/1" -X PUT \
  -H "X-API-KEY: ${ADMIN_API_KEY}" \
  -d '{
        "uri": "/hello",
        "vars": [ ["arg_k", "==", "v"] ],
        "upstream": {
            "nodes": {
                "127.0.0.1:1980": 1
            },
            "type": "roundrobin"
        }
    }'
```

- send a request:
```shell
curl -i "http://127.0.0.1:9080/hello?k=v"
```
- passes



@ZONGZI1999 welcome to create a PR to fix it,thx

i have tcpdump and find it can not be fix by apisix 

curl -i "http://172.18.155.204:9080/#/hello?k=v"

![image](https://github.com/apache/apisix/assets/7521141/6024abbb-fc43-42cf-9ad0-47545960559b)


<pre> curl -i &quot;http://172.18.155.204:9080/#/hello?k=v&quot; -nvv
* Couldn&apos;t find host 172.18.155.204 in the (nil) file; using defaults
*   Trying 172.18.155.204:9080...
* Connected to 172.18.155.204 (172.18.155.204) port 9080 (#0)
&gt; GET / HTTP/1.1
&gt; Host: 172.18.155.204:9080
&gt; User-Agent: curl/7.81.0
&gt; Accept: */*
&gt; 
* Mark bundle as not supporting multiuse
&lt; HTTP/1.1 404 Not Found
HTTP/1.1 404 Not Found
&lt; Date: Fri, 22 Dec 2023 01:13:16 GMT
<b>Date</b>: Fri, 22 Dec 2023 01:13:16 GMT
&lt; Content-Type: text/plain; charset=utf-8
<b>Content-Type</b>: text/plain; charset=utf-8
&lt; Transfer-Encoding: chunked
<b>Transfer-Encoding</b>: chunked
&lt; Connection: keep-alive
<b>Connection</b>: keep-alive
&lt; Server: APISIX/3.6.0
<b>Server</b>: APISIX/3.6.0

&lt; 
{&quot;error_msg&quot;:&quot;404 Route Not Found&quot;}
* Connection #0 to host 172.18.155.204 left intact
</pre>

@shreemaan-abhishek @moonming 
I want to fix this problem, please assign me this issue

@ZONGZI1999 , you can try this 
curl -i "http://127.0.0.1:9080/%23/hello?k=v"

# should escape to %23   in URL,  otherwise  it can not be send to server . 

> curl -i "http://127.0.0.1:9080/%23/hello?k=v"

Hi @hanqingwu 
I tried it and it still returns 404
![image](https://github.com/apache/apisix/assets/82068138/2aa0fb8a-ef97-470c-9d6c-9d1675deb249)


@luoluoyuyu , this my test case  in apisix  3.6.0
![image](https://github.com/apache/apisix/assets/7521141/2f02e7f3-6698-4f30-8d6d-7180671f1f6d)


@hanqingwu 
There may be something wrong with my apisix. All requests I send will result in 404. I am repairing my apisix. Your result is correct.

@hanqingwu is right, this cannot be fixed.

According to the [RFC 2396 section 2.4.3](https://www.rfc-editor.org/rfc/rfc2396#section-2.4.3)

> The character "#" is excluded because it is used to delimit a URI from a fragment identifier in URI references ([Section 4](https://www.rfc-editor.org/rfc/rfc2396#section-4)).
   
   